<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92218904866-g0s896d39erlnhajorgeohhhu8sa42ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92218904866-g0s896d39erlnhajorgeohhhu8sa42ge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92218904866-a9temmukvnsmbc2cs473fokahe923im6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkV6U-Sndc3qnRCa90tDT9N1QA_8dPKYI</string>
	<key>GCM_SENDER_ID</key>
	<string>92218904866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashCardLearnEnglish</string>
	<key>PROJECT_ID</key>
	<string>app-flash-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>app-flash-cards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92218904866:ios:dea66388690faa9002957b</string>
</dict>
</plist>